<section id="welcome">
 <h1>Welcome to BodegaCats</h1>
 <p class="content">Spot a cat at your favorite Bodega or Deli? Share this awesome kitty with the world. Simply snap a picture and upload the cat for the internet to see.</p>

</section>
